body {
    margin: 50px;
}

.poem {
    width: 70%;
}

.poem p {
    font-size: 20px;
    line-height: 1.3em;
}

.inactive-letter {
    color: black;
}

.active-letter-good {
    color: green;
    /* font-weight: bold; */
    text-decoration: none;
    border-bottom: 3px solid green;
}

.active-letter-bad {
    color: red;
    text-decoration: none;
    border-bottom: 3px solid red;
}
