body {
    margin: 50px;
}

p {
    font-size: 24px;
}

.inactive-letter {
    color: black;
}

.active-letter-good {
    color: green;
    /* font-weight: bold; */
    text-decoration: none;
    border-bottom: 3px solid green;
}

.active-letter-bad {
    color: red;
    text-decoration: none;
    border-bottom: 3px solid red;
}
