body {
    margin: 50px;
}

.main {
    display: flex;
    justify-contents: center;
    align-items: center;
    min-height: 200px;
}

.quote {
    width: 60%;
}

.quote p {
    font-size: 24px;
    line-height: 1.3em;
}

/*
 * Suddenly my use of span-per-letter feels hacky. Typically if a
 * paragraph is wrapped at a space, the space is "there" in the sense
 * that if I highlight the paragraph I can "see" the space at the end of
 * the line. In (at least) Firefox, if the space is wrapped in a <pre />
 * then the space isn't shown. Thus, if the user mistypes a (end-of-line)
 * space, they will have no visual indication of it because the space
 * (and thus its styling) is hidden.
 */
.quote p span {
    white-space: break-spaces;
}

.inactive-letter {
    color: black;
}

.active-letter-good {
    color: black;
    background-color: rgba(0, 255, 0, 0.3);
    /* font-weight: bold; */
    text-decoration: none;
    border-bottom: 3px solid green;
}

.active-letter-bad {
    background-color: rgba(255, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 3px solid red;
}

.info {
    flex-grow: 1;
    width: 40%;
    text-align: center;
}

.info h1 {
    font-size: 50px;
    color: #606060;
}
